extends ../layouts/admin
block content
    main
        .container-fluid
            h1.mt-4 Thêm tin tức
            ol.breadcrumb.mb-4
                li.breadcrumb-item
                    a(href='/admin') Admin
                li.breadcrumb-item.active News

            form(method="POST",enctype="multipart/form-data", onsubmit="return validateForm()")

                label Loại tin tức
                .form-group.d-flex
                    select.form-control(name="types")
                        each item in types
                            option
                                p= item.name

                label Tiêu đề
                .form-group.d-flex
                    input#check-2.form-control(type="text", name="name")
                    label#error-2.lable-error

                label Mô tả
                .form-group.d-flex
                    input#check-3.form-control(type="text", name="description")
                    label#error-3.lable-error

                label(for="images") Chọn ảnh
                .form-group.d-flex
                    input#images.input-file(type="file", name='images')

                label Nội dung
                .form-group.d-flex            
                    textarea#editor.form-control(name="content", cols="30", rows="10") Soạn thảo nội dung vào đây
                   
                label Tag
                .form-group.d-flex
                    input#check-4.form-control(type="text", name="tag")
                    label#error-4.lable-error
                
                .form-group
                    button.btn.btn-primary Create