<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}

        link(href='https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')

        link(rel='stylesheet', href='/css/open-iconic-bootstrap.min.css')
        link(rel='stylesheet', href='/css/animate.css')
        link(rel='stylesheet', href='/css/owl.carousel.min.css')
        link(rel='stylesheet', href='/css/owl.theme.default.min.css')
        link(rel='stylesheet', href='/css/magnific-popup.css')
        link(rel='stylesheet', href='/css/aos.css')
        link(rel='stylesheet', href='/css/ionicons.min.css')
        link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
        link(rel='stylesheet', href='/css/jquery.timepicker.css')
        link(rel='stylesheet', href='/css/flaticon.css')
        link(rel='stylesheet', href='/css/icomoon.css')
        link(rel='stylesheet', href='/css/style.css')

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

    body

        .py-1.bg-primary
            .container
                .row.no-gutters.d-flex.align-items-start.align-items-center.px-md-0
                    .col-lg-12.d-block
                        .row.d-flex
                            .col-md.pr-4.d-flex.topper.align-items-center
                                .icon.mr-2.d-flex.justify-content-center.align-items-center
                                    span.icon-phone2
                                span.text +84 235 2355 98
                            .col-md.pr-4.d-flex.topper.align-items-center
                                .icon.mr-2.d-flex.justify-content-center.align-items-center
                                    span.icon-paper-plane
                                span.text youremail@email.com
                            .col-md-5.pr-4.d-flex.topper.align-items-center.text-lg-right
                                if(session)
                                    span.text
                                        span Chào, 
                                            span= user.username
                                        span &nbsp;/&nbsp;
                                        span
                                        a(href="/logout", style="color: #fff") Thoát
                                else
                                    span.text
                                        span
                                            a(href="/register", style="color: #fff") Đăng ký
                                        span &nbsp;/&nbsp;
                                        span
                                        a(href="/auth/login", style="color: #fff") Đăng nhập

        nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
            .container
                a.navbar-brand(href='/')
                    img(src="/images/logo.png", alt="No Images", style='width: 40%')
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#ftco-nav', aria-controls='ftco-nav', aria-expanded='false', aria-label='Toggle navigation')
                    span.oi.oi-menu Menu
                #ftco-nav.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.active
                            a.nav-link(href='/') Home
                        li.nav-item
                            a.nav-link(href='/about') About
                        li.nav-item
                            a.nav-link(href='/crops') Crops
                        li.nav-item
                            a.nav-link(href='/news') News
                        li.nav-item
                            a.nav-link(href='/search') Search
                        li.nav-item
                            a.nav-link(href='#contact') Contact
                        li.nav-item
                            form.search-form(action='/search', method="GET")
                                .form-group
                                    span.icon.ion-ios-search
                                    input.form-control(type='text', name='key')

        block content

        footer#contact.ftco-footer.ftco-section.ftco-no-pb.bg-light
            .container
                .row.mb-2
                    .col-md
                        .ftco-footer-widget.mb-4(style="text-align: justify")
                            h2.ftco-heading-2 Cây trồng
                            p Cây trồng là cây được thuần hoá, chọn lọc để trồng trọt, đưa vào sản xuất nông nghiệp. Cây trồng chiếm một tỉ lệ rất nhỏ trong tổng số các loài cây trên Trái Đất. Cây trồng được thu hoạch hằng năm hay theo vụ mùa, các sản phẩm này được dùng để làm thức ăn, cỏ khô(dùng cho gia súc), và cho nhiều những mục đích kinh tế khác. Phát triển cây trồng cũng là một phần của nông nghiệp.

                    .col-md
                        .ftco-footer-widget.mb-4.ml-md-5
                            h2.ftco-heading-2 Menu
                            ul.list-unstyled
                                li
                                    a.py-2.d-block(href='/') Trang chủ
                                li
                                    a.py-2.d-block(href='/about') Giới thiệu
                                li
                                    a.py-2.d-block(href='/crops') Cây trồng
                                li
                                    a.py-2.d-block(href='/news') Tin tức
                                li
                                    a.py-2.d-block(href='/search') Tìm kiếm nâng cao
                    
                    .col-md
                        .ftco-footer-widget.mb-4(style="text-align: justify")
                            h2.ftco-heading-2 Thông tin liên hệ
                            .block-23.mb-3
                                ul
                                    li
                                        span.icon.icon-map-marker
                                        span.text Học viện Nông Nghiệp Việt Nam, tt.Trâu Quỳ, Gia Lâm, Hà Nội
                                    li
                                        span.icon.icon-phone
                                        span.text +84 392 3929 210
                                    li
                                        span.icon.icon-envelope
                                        span.text info@yourdomain.com
                            ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
                                li.ftco-animate
                                    a(href='#')
                                        span.icon-twitter
                                li.ftco-animate
                                    a(href='#')
                                        span.icon-facebook
                                li.ftco-animate
                                    a(href='#')
                                        span.icon-instagram

                    
                .row
                    .col-md-12.text-center
                        span Copyright &copy;
                            script.
                                document.write(new Date().getFullYear());
                        span &nbsp;All rights reserved | This template is made by student VNUA
                .row.mt-5
                    .col-md-12(style="float: right")
                        .mouse
                            a.mouse-icon(href='#')
                                .mouse-wheel
                                    span.ion-ios-arrow-up
                    
                    
        script(src='/js/jquery.min.js')
        script(src='/js/jquery-migrate-3.0.1.min.js')
        script(src='/js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/jquery.easing.1.3.js')
        script(src='/js/jquery.waypoints.min.js')
        script(src='/js/jquery.stellar.min.js')
        script(src='/js/owl.carousel.min.js')
        script(src='/js/jquery.magnific-popup.min.js')
        script(src='/js/aos.js')
        script(src='/js/jquery.animateNumber.min.js')
        script(src='/js/bootstrap-datepicker.js')
        script(src='/js/scrollax.min.js')
        script(src='/js/main.js')
        script(src="/js/ajax.js")