extends ../layouts/index
block content
    section.ftco-section
        .container
            .row
                .col-lg-3
                    p.pl-3(style='background: green;color: #fff; height: 35px') Danh sách cây trồng
                    each item in crops
                        p.pl-3
                            a(href="/crops/load="+item.id)= item.name
                .col-lg-9
                    block load