extends ../layouts/index 
block content

    section.ftco-section.ftco-no-pb.ftco-no-pt.bg-light
        .container
            .row
                .col-md-12(style="text-align: justify")
                    h1(style="text-align: center;") GIỚI THIỆU CHUNG
                    span
                        p Năm 2005 với sự trợ giúp đỡ của Hợp phần Giống cây trồng thuộc Chương trình Hỗ trợ Ngành Nông nghiệp (ASPS) do DANIDA tài trợ, Trung tâm Khảo kiểm nghiệm Giống cây trồng Trung ương (nay là Trung tâm Khảo kiểm nghiệm giống, sản phẩm cây trồng và phân bón Quốc gia) đã tổ chức biên tập, xuất bản cuốn sách “575 giống cây trồng nông nghiệp mới”. Cuốn sách đã được các nhà khoa học, quản lý, khuyến nông, sản xuất kinh doanh giống và bà con nông dân quan tâm đón nhận và đã được Nhà xuất bản Nông nghiệp tái bản với số lượng hàng nghìn bản để phục vụ yêu cầu của bạn đọc.
                        p Từ đó đến nay có thêm hàng trăm giống cây trồng nông nghiệp mới được các viện, trường, doanh nghiệp và nông dân chọn tạo, nhập nội, chọn lọc làm thuần được  công nhận cho sản xuất thử hoặc công nhận chính thức và được mở rộng vào sản xuất. Việc ứng dụng rộng rãi bộ giống cây trồng mới là một trong những nhân tố quyết định làm tăng năng suất, chất lượng và hiệu quả của sản xuất nông nghiệp trong những năm qua.
                        p Nhằm tiếp tục tổng hợp danh mục và những thông tin cơ bản về nguồn gốc, đặc tính chủ yếu, hướng sử dụng và yêu cầu kỹ thuật của các giống cây trồng nông nghiệp mới được công nhận chính thức, công nhận cho sản xuất thử và các giống địa phương được chọn lọc phục tráng, Cục Trồng trọt và Trung tâm Khuyến nông - Khuyến ngư Quốc gia đã phối hợp với các tác giả, cơ quan tác giả giống, các địa phương và doanh nghiệp tổ chức biên soạn cuốn sách “966 giống cây trồng nông nghiệp mới” trên cơ sở rà soát các thông tin về các giống đã được giới thiệu trong lần xuất bản trước và bổ sung những giống mới đưa vào sản xuất trong những năm gần đây. Cùng với các giống cây lương thực, cây công nghiệp, cây ăn quả chủ lực, nhiều giống rau, hoa mới cũng được giới thiệu trong cuốn sách nhằm phục vụ yêu cầu của sản xuất, quản lý nhà nước về giống cây trồng, trong đó có bảo hộ giống cây trồng mới; đây cũng là dịp tổng hợp các kết quả nghiên cứu, chọn tạo giống cây trồng mới, ghi danh các tác giả giống cây trồng thuộc các cơ quan nghiên cứu, công ty giống cây trồng trong và ngoài nước, cũng như bà con nông dân ở một  số  địa phương đã có nhiều đóng góp tích cực trong công tác nghiên cứu, chọn tạo, nhập nội giống cây trồng mới, cũng như bình tuyển, chọn lọc, phục tráng các giống cây trồng địa phương, giống cây trồng bản địa quý phục vụ sản xuất. 
                        p Xin  trân trọng giới thiệu cuốn sách “966 giống cây trồng nông nghiệp mới”với các nhà khoa học, quản lý, khuyến nông, sản xuất kinh doanh giống cây trồng và bà con nông dân cả nước.
                        p Mặc dù những người viết giới thiệu giống và Ban biên tập đã rất cố gắng nhưng cuốn sách không tránh khỏi những thiếu sót, rất mong bạn đọc lượng thứ và góp ý bổ sung để lần tái bản sau hoàn thiện hơn.
                    span(style="text-align: right;")
                        p TS. NGUYỄN TRÍ NGỌC
                        p Cục trưởng Cục Trồng trọt

                