extends ../layouts/index
block content

    section.ftco-section.ftco-category.ftco-no-pt
            .container
                .row
                    .col-md-8
                        .row
                            .col-md-6.order-md-last.align-items-stretch.d-flex
                                .category-wrap-2.ftco-animate.img.align-self-stretch.d-flex(style='background-image: url(images/category.jpg);')
                                    .text.text-center
                                        h2 Cropshare
                                            p Website chia sẻ giống cây trồng
                                            p
                                            a.btn.btn-primary(href='/crops') Tìm hiểu
                            .col-md-6
                                .category-wrap.ftco-animate.img.mb-4.d-flex.align-items-end(style='background-image: url(images/lua.jpg);')
                                    .text.px-3.py-1
                                        h2.mb-0
                                            a(href='#') Lúa
                                .category-wrap.ftco-animate.img.d-flex.align-items-end(style='background-image: url(images/ngo-2.jpg);')
                                    .text.px-3.py-1
                                        h2.mb-0
                                            a(href='#') Ngô
                    .col-md-4
                        .category-wrap.ftco-animate.img.mb-4.d-flex.align-items-end(style='background-image: url(images/khoai.jpg);')
                            .text.px-3.py-1
                                h2.mb-0
                                    a(href='#') Khoai
                        .category-wrap.ftco-animate.img.d-flex.align-items-end(style='background-image: url(images/san.jpg);')
                            .text.px-3.py-1
                                h2.mb-0
                                    a(href='#') Sắn

    section.ftco-section.ftco-no-pb.ftco-no-pt
        .container
            .row.justify-content-center.mb-2.pb-2
                .col-md-12.heading-section.text-center.ftco-animate
                    span.subheading Các giống lúa mới
        .container
            .row
                each item in rice
                    .col-md-6.col-lg-3.ftco-animate
                        .product
                            a.img-prod(href='#')
                                img.img-fluid(src='images/lua.jpg', alt='Colorlib Template')
                                span.status New
                                .overlay
                            .text.py-3.pb-4.px-3.text-center
                                h3
                                    a(href='#')= item.name
                                .d-flex
                                    .pricing
                                        p.price
                                        span.price-sale Chi tiết
                                    .bottom-area.d-flex.px-3
                                        .m-auto.d-flex
                                            a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='/crops/id='+ item.id)
                                                span
                                                    i.ion-ios-menu
                                            a.heart.d-flex.justify-content-center.align-items-center(href='#')
                                                span
                                                    i.ion-ios-heart
    
    section.ftco-section.ftco-no-pb.ftco-no-pt
        .container
            .row.justify-content-center.mb-2.pb-2
                .col-md-12.heading-section.text-center.ftco-animate
                    span.subheading Các giống ngô mới
        .container
            .row
                .col-md-6.col-lg-3.ftco-animate
                    .product
                        a.img-prod(href='#')
                            img.img-fluid(src='images/lua.jpg', alt='Colorlib Template')
                            span.status New
                            .overlay
                        .text.py-3.pb-4.px-3.text-center
                            h3
                                a(href='#') Giống ngô 10
                            .d-flex
                                .pricing
                                    p.price
                                    span.price-sale Chi tiết
                                .bottom-area.d-flex.px-3
                                    .m-auto.d-flex
                                        a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                                            span
                                                i.ion-ios-menu
                                        a.heart.d-flex.justify-content-center.align-items-center(href='#')
                                            span
                                                i.ion-ios-heart