extends ../layouts/index 
block content
    
    .container
        .row
            .col-lg-9
                h3 Tiêu đề
                h6 Ngày: 22/09/2020 20:30
                p(style="text-align: justify;") Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi incidunt libero eius labore perspiciatis id aperiam nam, laborum deserunt! Laboriosam aspernatur quisquam assumenda, nisi nobis recusandae modi accusantium consectetur enim!
                p(style="text-align: justify;") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit illo laborum necessitatibus beatae atque incidunt dolorum ad veritatis ullam consectetur, delectus recusandae ex accusantium impedit illum dolores, repudiandae, exercitationem ab.
                img(src="/images/lua.png", alt="")
                p(style="text-align: justify;") Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima temporibus culpa possimus fuga et quia facilis esse ab eius impedit. Aut vitae recusandae nam quo distinctio atque, architecto eveniet vero.
                p(style="text-align: justify;") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus consequatur cum suscipit incidunt exercitationem delectus nostrum ullam voluptatem eaque perferendis, aut obcaecati maxime? Totam aperiam ratione magnam mollitia quos unde.
                p(style="text-align: justify;") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque illo quam quidem praesentium accusantium, quas dolor culpa tenetur delectus iste rerum reprehenderit iusto unde, quis voluptas provident id totam qui.
                p(style="text-align: justify;") Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate alias quas nobis assumenda amet tenetur consectetur repellendus inventore voluptatum molestias quae aspernatur fugiat in beatae, commodi, libero quod, rerum ipsam.
                h5 Tag: Lê Đức Thịnh
                h6 Các tin tức liên quan
            .col-lg-3
                h4 Tin tức mới
                ul
                    li.list-item Item 1
                    li Item 1
                    li Item 1
                    li Item 1
                    li Item 1