extends ../layouts/index
block content
    .container
        .row
            form(action="/register", method="POST")
                .from-group
                    if(message)
                        .alert.alert-success= message
                .form-group
                    label(for="user") Username
                    input#user.form-control(type="text", name='username')
                .form-group
                    label(for="pass") Password
                    input#pass.form-control(type="password", name='password')
                .form-group
                    button.btn.btn-primary Đăng ký
